body{ background-color:#FFFF00; }
a:link { text-decoration:none; color:#333333;}
a:hover { text-decoration:none; color:#0000FF;}
a:visited { text-decoration:none; color:#333333;}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width:0;
}

.row {
    line-height:180%;
    min-width:100%;
    min-height:30px;
    height:auto;
    padding-top: 5px;
    border:0px solid  #FFFFFF;
}

.colLine {
    line-height:180%;
    min-height:30px;
    padding-top: 5px;
    border-bottom:1px dotted  #333333;
    padding-top:4px; 
    padding-bottom:4px;
}